html,
body {
  color: white;
}

body {
  background-color: black;
}

#pageLink {
  display: none;
}

.gallery img {
  max-height: 75vh;
  height: auto;
  transition: transform 0.1s;
  margin-bottom: 10px;
}

h1 {
  position: sticky;
  top: 10px;
  -webkit-text-stroke: 20px red;
  color: black;
  paint-order: stroke;
}

@keyframes appear {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

.fullscreenMode img:not(.fullscreen) {
  opacity: 0.3;
}

tr,
caption {
  text-align: left;
}

#alternatives:hover {
  color: rgb(0, 211, 0);
  transform: scale(1.1);
  transform-origin: left;
  width: auto;
  cursor: pointer;
}

#alternatives ul {
  display: none;
}

@media print {
  @page {
    size: 210mm 297mm;
  }

  body {
    padding: 10mm;
  }

  #pageLink {
    display: inline;
    position: fixed;
    bottom: 10mm;
    right: 10mm;
  }

  h1,
  h2,
  h3 {
    break-after: avoid;
  }

  p,
  img {
    break-inside: avoid;
  }
  p {
    hyphens: auto;
  }

  tbody {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1mm;
  }

  .gallery {
    display: block;
    columns: 2 auto;
    gap: 1mm;
  }

  .gallery img {
    width: 100%;
    min-width: unset;
    max-height: unset;
  }

  #alternatives ul {
    display: block;
  }
}
